rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // All public data under artifacts is readable and writable by any authenticated user
    match /artifacts/{appId}/public/data/{collection}/{document} {
      allow read, write: if request.auth != null;
    }
    match /artifacts/{appId}/public/data/{collection}/{document}/{subcollection}/{subdoc} {
      allow read, write: if request.auth != null;
    }
  }
}
